<h1>All Posts</h1>
<%= link_to "New Post", new_post_path %>
<% @posts.each do |post| %>
<div class="post">
  <strong> <%= post.title %></strong>
  <p><%= post.content %></p>
  <div class="class">
    <%= link_to time_ago_in_words(post.created_at) +" ago", post %>
    <span class="admin">
      | <%= link_to "Edit", edit_post_path(post) %> |
      <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
    </span>  
  </div>
</div>
<% end %>

