<p id="notice"><%= notice %></p> 
<p>  
  <h1><%= @post.title %></h1>
</p>
 
<p>  
  <%= @post.content %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <div class="post">
  <p>
    <b>Name:</b>
    <%= comment.commenter %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
  <div id="like">
  <%= render 'likes/like_button', :comment => @comment %>
  </div>
</div>
<% end %>
 
<h3>Add a comment:</h3>
<%= simple_form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.input :commenter,:label => 'Your name please' %><br />    
  </div>
  <div class="field">
    <%= f.input :body,:label => 'Your comment please', :input_html => {:rows => 7}%><br />    
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
 
<br />
<% if user_signed_in? %>  
       <% if current_user.id == @post.user.id %> 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<% end %>
      <% end %>
<%= link_to 'Back to Posts', posts_path %> |